# PostgreSQL Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=tickboard_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis_123

# MongoDB Configuration
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DATABASE=tickboard_db
MONGO_ROOT_USERNAME=mongodb_tickboard
MONGO_ROOT_PASSWORD=tickboard_123

# Elasticsearch Configuration
ELASTIC_HOST=localhost
ELASTIC_PORT=9200
ELASTIC_PASSWORD=elastic_123

# Kafka Configuration
KAFKA_HOST=localhost
KAFKA_PORT=9092

# Kafdrop Configuration
KAFDROP_PORT=9001

# Kafka UI Configuration
KAFKA_UI_PORT=9002

# Grafana Configuration
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin123

#curl http://localhost:3000        # Grafana
#curl http://localhost:9090        # Prometheus
#curl http://localhost:3200/ready  # Tempo
#curl http://localhost:8889/metrics # OTel Collector